body {
	background-color: #F0F0F0;
}

ul#photos {
	padding: 0;
	margin: 1em;

	text-align: center;

	&> li {
		list-style-type: none;
		display: inline-block;
		margin: 1em;
		padding: 1em;

		background-color: #FFF;
		transition: background-color .5s;

		&:hover {
			background-color: #000;
		}
	}
}
